.profilepic {
    margin: -100px 0px 30px 50px;
}

.profilebtn{
    padding-left: 40px;
}

.coverbtn{
    margin: 250px 0px 30px -150px;
}

.profileview{
    margin: 50px 0px 0px 30px;
}
.custHeading{
    margin: 170px 0px 0px 0px;
}
.div-back {
    background-color: #ffffff;
    height: 50px;
}

